*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.element{
    margin: 5% 0;
}